h1 {
  color:red;
  text-align: center;
}
h2 {
  color:blue;
  text-align: left;
}
h3 {
  color:#A2270C;
  text-align: left;
}
.triangle{
 color:white;
}
.sidebar {
  width: 200px;
  float: right;
  background-color: gray;
}
.image {
  text-align: center;
}
.test-box {
  text-align: center;
  border:10px solid maroon;
  padding: 7px;
  margin: 20px;
  background-color: pink;
}
.sides{
  background-color: green;
}
body{
  font-family: serif;
  background-color: #7CFC00;
}
